<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ol.variables li, ol.filters li span
        {
            font-size: 32 px;
            color: red;
        }
    </style>
</head>
<body>
<h1> Привет, третий урок!</h1>
    <h2>{{test}}</h2>
    <h2>Переменные:</h2>

    <ol class = 'variables'>
        <li>Name : {{name}}</li>
        <li>Surname : {{surname}}</li>
        <li>Coords x : {{coords.x}}</li>
        <li>COORDS Y : {{coords.y}}</li>
        <li>list[0] : {{list.0}}</li>
        <li>Undefined : {{qwerty}}</li>
    </ol>
</body>
</html>